/*----------------------------------------------------------------------------- Estilo Geral ----------------------------------------------------------------------*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #b356f1;
    color: black;
    overflow-x: hidden;
}

/* Cabeçalho Geral */
header {
    background-color: #2a2a2a;
    color: whitesmoke;
    text-align: center;
    padding: 25px 0;
    flex-shrink: 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Navegação Geral */
nav {
    background-color: #2a2a2a;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem em múltiplas linhas */
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    flex: 1;
    text-align: center;
    margin: 5px;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #383737;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a i { /* Estilo para o ícone */
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

/* Rodapé Geral */

footer {
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo das imagens */
main img {
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Formatação Geral de Formulários */
label, input {
    display: block;
    margin-bottom: 10px;
}

label {
    font-size: small;
    background-color: #2b2b2b;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

input {
    font-size: medium;
    padding: 5px;
    width: 100%; /* Garante que o input ocupe a largura disponível */
    box-sizing: border-box; /* Inclui o padding na largura */
}
aside {
    background-color: #2a2a2a; /* Cor de fundo */
    padding: 20px;
    margin: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    width: 250px; /* Largura do aside */
    float: right; /* Posicionamento à direita da página */
}

aside img {
    flex-direction: row;
    width: 100%; /* A imagem preenche a largura do aside */
    border-radius: 8px; /* Bordas arredondadas na imagem */
}


/*----------------------------------------------------------------------------Home page------------------------------------------------------------------------------- */

.home-page main {
    background-color: #8d26d1;
    padding: 50px;
    color: whitesmoke;
    font-size: large;
}

.home-page h2 {
    color: whitesmoke;
    font-size: 2em;
}
.home-page p {
    font-size: 1.2em;
}
.home-page main a {
    text-decoration: none;
    color: #000;
}
.home-page main a:hover {
    color: blue;

}


/*----------------------------------------------------------------------------Pontos de Interesse page------------------------------------------------------------------------------- */

.pontos-interesse-page main {
    background-color: #7534a1; /* Fundo amarelo claro */
    padding: 50px;
}

.pontos-interesse-page h2 {
    color: whitesmoke; /* Título roxo */
}

.pontos-interesse-page  h3 {
    color: purple; /* Subtítulo roxo */
}

.pontos-interesse-page .caixa-grande {
    background-color: whitesmoke;
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
}
.pontos-interesse-page .caixa-pequena {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.pontos-interesse-page .tabela-meses {
    border-collapse: collapse;
    width: 50%;

}

.pontos-interesse-page .tabela-meses td {
    border: 1px solid #000; /* Adiciona bordas a todas as células */
    padding: 8px; /* Espaçamento interno nas células */
    text-align: center; /* Alinha o texto à esquerda */
}

.pontos-interesse-page .tabela-meses th {
    background-color: #383737; /* Cor de fundo para o cabeçalho */
    color: whitesmoke;

}


/*----------------------------------------------------------------------------Local page------------------------------------------------------------------------------- */

.local-page main {
    background-color: #7534a1; /* Amarelo claro */
    padding: 50px;
    color: whitesmoke;
    font-size: large;
}

.local-page h2 {
    color: whitesmoke;
}

.local-page iframe {
    cursor: zoom-in;
}




/*----------------------------------------------------------------------------Multimedia page------------------------------------------------------------------------------- */

.multimedia-page main {
    background-color: #7534a1; /* Areia */
    padding: 50px;
    color: whitesmoke;
}

.multimedia-page h2 {
    color: whitesmoke;
}

.multimedia-page h3{
    color:whitesmoke;
}

/*----------------------------------------------------------------------------Info page------------------------------------------------------------------------------- */

.info-page main {
    background-color: #7534a1; /* Azul claro */
    padding: 50px;
}

.info-page h2 {
    color: whitesmoke;
}
.info-page main table {
    color: black;
}

/*----------------------------------------------------------------------------Quizz page------------------------------------------------------------------------------- */

.quizz-page main {
    background-color: #5e307c; /* Vermelho tomate */
    padding: 50px;
}

.quizz-page h2 {
    color: whitesmoke;
}


/*----------------------------------------------------------------------------Viagem page------------------------------------------------------------------------------- */

.viagem-page main {
    background-color: #5e307c; /* Verde médio */
    padding: 50px;
   
}

.viagem-page h2 {
    color: whitesmoke;
}

/*--------------------------------------------------------------------------------->Responsive-----------------------------------------------------------------------*/


/* Para telas até 1024px de largura (tamanho de tablets e pequenos laptops) */
@media (max-width: 1024px) {
    #pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, 
    #melhorAlturaVisitar, #curiosidades, #informacoes, #fotografiasEst, 
    #video, #poema, #multimedia, #localizacaoEst {
        width: 80%;
        margin: 0 auto; /* Centraliza os elementos */
    }
}

/* Para telas até 768px de largura (tamanho de tablets em modo retrato) */
@media (max-width: 768px) {
    #pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, 
    #melhorAlturaVisitar, #curiosidades, #informacoes, #fotografiasEst, 
    #video, #poema, #multimedia, #localizacaoEst {
        width: 95%;
        margin: 0 auto; /* Centraliza os elementos */
    }
}

/* Para telas até 480px de largura (tamanho de smartphones) */
@media (max-width: 480px) {
    #pInteresse, #restaurantes, #monumentos, #locaisNaoPerder, #melhorLocalFoto, 
    #melhorAlturaVisitar, #curiosidades, #informacoes, #fotografiasEst, 
    #video, #poema, #multimedia, #localizacaoEst {
        width: 100%; 
        padding: 5px; 
        margin: 0 auto; /* Centraliza os elementos */
    }
}





